<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="section-navigation">
      <ul class="section-navigation__list govuk-list govuk-list--bullet" role="naviagtion">
        <li class="section-navigation__item section-navigation__item--active">
          <a href="/cases/referrals" class="section-navigation__link section-navigation__link--active">
            <span id="heading-referrals">Referrals</span>
          </a>
        </li>
        <li class="section-navigation__item">
          <a href="/cases/accepted" class="section-navigation__link">
            <span id="heading-all-cases">All</span>
          </a>
        </li>
        <li class="section-navigation__item">
          <a href="/cases/accepted" class="section-navigation__link">
            <span id="heading-accepted-cases">Accepted</span>
          </a>
        </li>
        <li class="section-navigation__item">
          <a href="/cases/rejected" class="section-navigation__link">
            <span id="heading-rejected-cases">Rejected</span>
          </a>
        </li>
        <li class="section-navigation__item">
          <a href="/cases/bookmarks" class="section-navigation__link">
            <span id="heading-bookmarked-cases">Bookmarks</span>
          </a>
        </li>
        <li class="section-navigation__item">
          <a href="/cases/recents" class="section-navigation__link">
            <span id="heading-recent-cases">Recently viewed</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>