<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="section-navigation">
      <ul class="section-navigation__list govuk-list govuk-list--bullet" role="naviagtion">
        <li class="section-navigation__item section-navigation__item--active">
          <a href="/case/overview" class="section-navigation__link section-navigation__link--active">
            <span id="heading-referrals">Overview</span>
          </a>
        </li>
        <li class="section-navigation__item">
          <a href="/case/company-profile" class="section-navigation__link">
            <span id="heading-all-cases">Company profile</span>
          </a>
        </li>
        <li class="section-navigation__item ">
          <a href="/case/defendants" class="section-navigation__link">
            <span id="heading-team-cases">Defendants</span>
          </a>
        </li>
        <li class="section-navigation__item ">
          <a href="/case/offences" class="section-navigation__link">
            <span id="heading-team-cases">Offences</span>
          </a>
        </li>
        <li class="section-navigation__item">
          <a href="/case/hearings" class="section-navigation__link">
            <span id="heading-my-cases">Hearings</span>
          </a>
        </li>
        <li class="section-navigation__item">
          <a href="/case/history" class="section-navigation__link">
            <span id="heading-my-cases">History</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>