<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="section-navigation">
      <ul class="section-navigation__list govuk-list govuk-list--bullet" role="naviagtion">
        <li class="section-navigation__item section-navigation__item--active">
          <a href="/cases/all" class="section-navigation__link {{ allLinkActive }}">
            <span id="heading-all">All</span>
          </a>
        </li>
        <!-- <li class="section-navigation__item section-navigation__item--active"> <a href="/cases/referrals" class="section-navigation__link {{ referredLinkActive }}"> <span id="heading-referrals">Referrals</span> </a> </li> <li
        class="section-navigation__item"> <a href="/cases/ultimatum" class="section-navigation__link {{ ultimatumLinkActive }}"> <span id="heading-ultimatum-cases">Ultimatum</span> </a> </li> <li class="section-navigation__item"> <a href="/cases/sjpn"
        class="section-navigation__link {{ sjpnLinkActive }}"> <span id="heading-sjpn-cases">SJPN</span> </a> </li> <li class="section-navigation__item"> <a href="/cases/outcomes" class="section-navigation__link {{ outcomeLinkActive }}"> <span
        id="heading-outcomes-cases">Outcomes</span> </a> </li> <li class="section-navigation__item"> <a href="/cases/closed" class="section-navigation__link {{ closedLinkActive }}"> <span id="heading-closed-cases">Closed</span> </a> </li> <li
        class="section-navigation__item"> <a href="/cases/rejected" class="section-navigation__link {{ rejectedLinkActive }}"> <span id="heading-rejected-cases">Rejected</span> </a> </li> -->
        <!-- <li class="section-navigation__item"> <a href="/cases/bookmarks" class="section-navigation__link {{ bookmarksLinkActive}}"> <span id="heading-bookmarked-cases">Bookmarks</span> </a> </li> <li class="section-navigation__item"> <a
        href="/cases/recents" class="section-navigation__link {{ recentsLinkActive }}"> <span id="heading-recent-cases">Recently viewed</span> </a> </li> -->
      </ul>
    </nav>
  </div>
</div>