{% if case.status === 'Accepted' %}
  {% set tabDisabled = 'section-navigation__item--disabled' %}
{% else %}
  {% set tabDisabled = false %}
{% endif %}

{% if case.ultimatumGenerated === true %}
  {% set issueUltimatumDisabled = false %}
{% else %}
  {% set issueUltimatumDisabled = true %}
{% endif %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Prosecution - Case
        {{ case.reference }}
      </span>
      {{ case.company.name }}
    </h1>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    {% if case.status === 'Referred' %}
      <form action="" method="get" novalidate="novalidate" name="caseDecision">
        {% set noHtml %}
        {{ govukTextarea({
        type: "email",
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Why are you rejecting this case?"
        },
        attributes: {
          spellcheck: "true"
        }
       }) }}
        {% endset -%}
        {{ govukRadios({
          idPrefix: "case-options",
          name: "caseOption",
          fieldset: {
            legend: {
              text: "Would you like to accept this case?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              conditional: {
                html: noHtml
              }
            }
          ]
        }) }}
        {{ govukButton({
          text: "Confirm"
        }) }}
      </form>

      <!--{% set buttonHref = "/workflows/accept-case/review-case?id=" + case.id %}-->
    {% endif %}
  </div>
</div>