<div class="govuk-grid-column-one-quarter column-filters">
  <section class="filters" id="filters">
    <form action="" method="post">
      <div role="widget" class="filter open">
        <div class="govuk-body filters-heading" role="button" aria-controls="filter-crn" aria-expanded="true" tabindex="0">
          <span id="filter-label-crn">
            <span class="govuk-visually-hidden">Filter by
            </span>Company number</span>
          <div class="toggle"></div>
        </div>
        <div id="filter-crn" class="filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-crn">
          {{ govukInput({
            id: "filter-company-number",
            name: "filterCompanyNumber"
          }) }}
        </div>
      </div>
      <div role="widget" class="filter open">
        <div class="govuk-body filters-heading" role="button" aria-controls="filter-status" aria-expanded="true" tabindex="0">
          <span id="filter-label-status">
            <span class="govuk-visually-hidden">Filter by
            </span>Status</span>
          <div class="toggle"></div>
        </div>
        <fieldset id="filter-status" class="govuk-fieldset filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-status">
          <legend class="govuk-visually-hidden">What case statuses do you want to see?</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filter-status-accepted" name="filterStatus" type="checkbox" value="accepted">
              <label class="govuk-label govuk-checkboxes__label" for="filter-status-accepted">
                Accepted
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filter-status-ultimatum" name="filterStatus" type="checkbox" value="ultimatum">
              <label class="govuk-label govuk-checkboxes__label" for="filter-status-ultimatum">
                Ultimatum issued
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filter-status-sjpn" name="filterStatus" type="checkbox" value="sjpn">
              <label class="govuk-label govuk-checkboxes__label" for="filter-status-sjpn">
                SJPN issued
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filter-status-verdict" name="filterStatus" type="checkbox" value="verdict">
              <label class="govuk-label govuk-checkboxes__label" for="filter-status-verdict">
                Verdict returned
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filter-status-closed" name="filterStatus" type="checkbox" value="closed">
              <label class="govuk-label govuk-checkboxes__label" for="filter-status-closed">
                Closed
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filter-status-rejected" name="filterStatus" type="checkbox" value="rejected">
              <label class="govuk-label govuk-checkboxes__label" for="filter-status-rejected">
                Rejected
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div role="widget" class="filter open">
        <div class="govuk-body filters-heading" role="button" aria-controls="filter-priority" aria-expanded="false" tabindex="0">
          <span id="filter-label-priority">
            <span class="govuk-visually-hidden">Filter by
            </span>Priority</span>
          <div class="toggle"></div>
        </div>
        <fieldset id="filter-priority" class="govuk-fieldset filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-priority">
          <legend class="govuk-visually-hidden">Select to see filing codes?</legend>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filter-priority-0" name="filterAssignee" type="checkbox" value="High">
              <label class="govuk-label govuk-checkboxes__label" for="filter-priority-0">
                <strong class="govuk-tag govuk-tag--pink">High</strong>
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filter-priority-1" name="filterAssignee" type="checkbox" value="Medium">
              <label class="govuk-label govuk-checkboxes__label" for="filter-priority-1">
                <strong class="govuk-tag govuk-tag--yellow">Medium</strong>
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filter-priority-2" name="filterAssignee" type="checkbox" value="Low">
              <label class="govuk-label govuk-checkboxes__label" for="filter-priority-2">
                <strong class="govuk-tag govuk-tag--light-green">Low</strong>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </section>
  <p>
    <a href="" class="filter-expand" aria-hidden="true">Open all filters</a>
  </p>
  <p>
    <a href="" role="button" class="link filter-reset" title="Clear filters to see all cases" aria-controls="filters">Reset filters</a>
  </p>
</div>