<div class="govuk-grid-column-one-quarter column-filters">
  <section class="filters" id="filters">
    <form action="/cases/all" method="post" id="filter-form">

      <div role="widget" class="filter open">
        <div class="govuk-body filters-heading" role="button" aria-controls="filter-crn" aria-expanded="true" tabindex="0">
          <span id="filter-label-crn">
            <span class="govuk-visually-hidden">Filter by
            </span>Company number</span>
          <div class="toggle"></div>
        </div>
        <div id="filter-crn" class="filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-crn">
          {{ govukInput({
            id: "filter-company-number",
            name: "filterCompanyNumber",
            value: filterParams.companyNumber
          }) }}
        </div>
      </div>

      <div role="widget" class="filter open">
        <div class="govuk-body filters-heading" role="button" aria-controls="filter-ref" aria-expanded="true" tabindex="0">
          <span id="filter-label-ref">
            <span class="govuk-visually-hidden">Filter by
            </span>Case reference</span>
          <div class="toggle"></div>
        </div>
        <div id="filter-ref" class="filters-wrapper" aria-hidden="true" aria-labelledby="filter-label-ref">
          {{ govukInput({
            id: "filter-case-reference",
            name: "filterCaseReference",
            value: filterParams.caseReference
          }) }}
        </div>
      </div>
      <div role="widget" class="filter open">
        <div class="govuk-body filters-heading" role="button" aria-controls="filter-status" aria-expanded="true" tabindex="0">
          <span id="filter-label-status">
            <span class="govuk-visually-hidden">Filter by
            </span>Status</span>
          <div class="toggle"></div>
        </div>
        {{ govukCheckboxes({
          idPrefix: "filter-status",
          name: "filterStatus",
          fieldset: {
            legend: {
              text: "What case statuses do you want to see?",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            },
            classes: "filters-wrapper"
          },
          items: [
            {
              value: "Referred",
              text: "Referred",
              checked: filterParams.status.referred.checked
            },
            {
              value: "Accepted",
              text: "Accepted",
              checked: filterParams.status.accepted.checked
            },
            {
              value: "Ultimatum issued",
              text: "Ultimatum issued",
              checked: filterParams.status.ultimatumIssued.checked
            },
            {
              value: "Ultimatum expired",
              text: "Ultimatum expired",
              checked: filterParams.status.ultimatumExpired.checked
            },
            {
              value: "SJPN issued",
              text: "SJPN issued",
              checked: filterParams.status.sjpnIssued.checked
            },
            {
              value: "Awaiting outcomes",
              text: "Awaiting outcomes",
              checked: filterParams.status.awaitingOutcomes.checked
            },
            {
              value: "Adjourned",
              text: "Adjourned",
              checked: filterParams.status.adjourned.checked
            },
            {
              value: "Closed",
              text: "Closed",
              checked: filterParams.status.closed.checked
            }
          ]
        }) }}
      </div>
      {{ govukButton({
        text: "Filter cases",
         classes: "govuk-!-margin-right-1"
      }) }}
      {{ govukButton({
  text: "Clear",
  classes: "govuk-button--secondary link filter-reset"
}) }}
    </form>
  </section>
</div>