// global styles for <a> and <p> tags
$govuk-global-styles: true;

//Import GOV.UK Frontend
@import "govuk-frontend/all";
@import 'ch-overrides';
@import 'patterns/dashboard';
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

// Patterns that aren't in Frontend
@import 'patterns/check-your-answers';
@import 'patterns/related-items';
@import 'patterns/task-list';
@import 'patterns/navigation';
@import 'patterns/pagination';
@import 'patterns/table-per-page';
@import 'patterns/table-counter';
@import 'patterns/filters';
@import 'patterns/dashboard';

// Component Macro SCSS
@import 'components/notification-panel';

//cookie-banner
@import "../../../docs/assets/sass/cookie-banner";

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
// @import 'patterns/check-your-answers';
// @import 'patterns/task-list';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.govuk-main-wrapper {
  padding-top: 10px;
}

.govuk-header--borderless {
  border-bottom: none;
}

.govuk-header__logo {
  padding-bottom: 10px;
  margin-bottom: 0;
}

.govuk-header__content {
  width: 100%;
}

.govuk-header__navigation {
  padding: 0 15px;
  margin: 0 -15px;
  background: govuk-colour("blue");
}

.govuk-header__navigation-item {
  a {
    &:link,
    &:visited {
      color: white;
    }
  }
}

.govuk-header__navigation-item-link {
  display: inline-block;
  padding: 5px;
  color: white;
}

.govuk-width-container--full {
  max-width: 100%;
  margin: 0 15px;
}

.govuk-width-container--borderless {
  border-bottom: none;
  margin-bottom: 0;
}

// SEARCH BAR
.ch-search-bar {
  background: govuk-colour("blue");
  max-width: 100%;
  padding: .6rem 0 1rem;

}

.ch-search-box {
  margin: 0 15px;
  text-align: right;

  .govuk-form-group {
    margin: 0;
  }
}

.ch-search-box__label {
  color: govuk-colour("white");
  display: none;
  @include govuk-media-query($from: tablet) {
    display: inline-block;
    padding-right: .5em;
  }
}

.ch-search-box__input {
  width: 100%;
  @include govuk-media-query($from: tablet) {
    width: 40%;
  }
}

.govuk-caption-xl__section {
  border-left: 2px solid govuk-colour("grey-2");
  margin-left: .2em;
  padding-left: .3em;
}

.govuk-table__cell,
.govuk-table__header {
  padding: .3em .5em .3em 0;
}

.govuk-table__cell--centred {
  text-align: center;
}

.govuk-button--table {
  margin-bottom: 0;
}

.govuk-checkboxes__item--table {
  min-height: 30px;
  max-width: 40px;
  padding: 0;
  margin: 0;
}

.govuk-checboxes__item--white {
  .govuk-checkboxes__label::before {
    background-color: govuk-colour("white");
  }
}

.govuk-checkboxes__label--table {
  margin: 0;
  padding: 0;
}

.govuk-checkboxes__input + .govuk-checkboxes__label--table::before {
  height: 30px;
  width: 30px;
}

.govuk-checkboxes__input + .govuk-checkboxes__label--table::after {
  top: 9px;
  left: 6px;
  width: 15px;
  height: 5px;
  border-width: 0 0 4px 4px;
}

.govuk-checkboxes__input--table {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
}

.column-results {
  display: none;
  @include govuk-media-query($from: tablet) {
    display: block;
  }
}

.column-results--active {
  display: block;
}

.column-filters {
  display: none;
  @include govuk-media-query($from: tablet) {
    display: block;
  }
}

.column-filters--active {
  display: block;
  @include govuk-media-query($from: tablet) {
    display: block;
  }
}

// TABLES
.govuk-table__header--top {
  vertical-align: top;
}

.govuk-table--condensed {
  @include govuk-font(16);
}

.govuk-table--collapsed {
  tbody {
    display: none;
  }
}

// TAGS
.govuk-tag {
  &.govuk-tag--light-green {
    background-color: govuk-colour("light-green");
  }

  &.govuk-tag--pink {
    background-color: govuk-colour("pink");
  }

  &.govuk-tag--yellow {
    background-color: govuk-colour("yellow");
  }

  &.govuk-tag--grey {
    background-color: govuk-colour("grey-1");
  }
}

// BOOKMARKS
.govuk-table__header--bookmark {
  text-align: center;
}

.govuk-table__cell--bookmark {
  text-align: center;
}

.bookmark-button:focus {
  outline: none;
  outline-offset: 0;
  background-color: transparent;
}

.fa-star {
  color: govuk-colour("grey-2");
}

.fa-star--active {
  color: govuk-colour("yellow");
}

// DECISION SCREEN

.decision-profile {
  .decision-profile__header {
    background: govuk-colour("grey-3");
    border-bottom: 2px solid govuk-colour("grey-2");
    padding: .35em .4em .2em;
  }

  .govuk-table__caption {
    color: govuk-colour("blue");
  }
}

.decision-case {
  .decision-case__header {
    background: lighten(govuk-colour("light-green"), 25%);
    border-bottom: 2px solid govuk-colour("light-green");
    padding: .35em .4em .2em;
  }

  .govuk-table__caption {
    color: govuk-colour("blue");
  }
}

.action-bar {
  margin: 0 -30px 2em;

  .action-bar__content {
    background: govuk-colour('grey-4');
    border-bottom: 2px solid govuk-colour('grey-3');
    padding: 15px 30px;
  }

  .action-bar__button {
    margin-bottom: 0;
  }

  .action-bar__form {
    display: inline;
  }
}
