.govuk-heading-xl {
  // margin-bottom: 30px;
}

.govuk-heading-m {
  // border-bottom: 1px solid govuk-colour("grey-2");
}

// BUTTONS
.govuk-button {
  &.govuk-button--default {
    background-color: govuk-colour("grey-1");
    background: none;
    box-shadow: none;
    // -webkit-box-shadow: 0 2px 0 darken(govuk-colour("red"), 25%);
    // box-shadow: 0 2px 0 darken(govuk-colour("red"), 25%);
    text-decoration: underline;
  }

  &.govuk-button-edit {
    background-color: govuk-colour("blue");
  }
}

// PANEL
.govuk-panel {
  &.govuk-panel--basic {
    background: govuk-colour("grey-3");
  }

  &.govuk-panel--left-aligned {
    text-align: left;
  }

  .govuk-form-group {
    margin-bottom: 0;
  }
}

.govuk-panel {
  &.govuk-panel--blue {
    background-color: govuk-colour("blue");
  }
}

.govuk-notification {
  border: 5px solid #005ea5;
  color: #005ea5;
  font-size: 0;
  margin-bottom: 30px;
  padding: 10px;
  max-width: 440px;
}

.govuk-notification p {
  line-height: 1;
}

.govuk-notification p:last-child {
  margin-bottom: 0;
}
