{% extends "layout-admin.html" %}

{% block pageTitle %}
  Case Decision: PJM ACCOUNTANCY LIMITED
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Prosecution - Case
          {{ case.reference }}
        </span>
        {{ case.company.name }}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half decision-case">
      <form action="" method="post" class="">
        {{ govukTextarea({
          name: "closeReason",
          id: "close-reason",
          label: {
            text: "Why are you closing this case?",
            isPageHeading: true,
            for: "close-reason"
          }
        }) }}
        <input type="hidden" name="caseID" value="{{ id }}"/>
        <input type="hidden" name="caseAction" value="close"/>
        <div class="govuk-form-group">
          {{ govukButton({
            text: "Close case"
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}>