{% extends "layout-admin.html" %}

{% block pageTitle %}
  Prosecution Case Company Profile: PJM ACCOUNTANCY LIMITED
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/cases/all"
  }) }}
{% endblock %}

{% block content %}

  {% include "includes/case-header.html" %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Company number:
            {{ case.company.number }}
          </span>

          {{ case.company.name }}
        </h1>
        {% if case.status === 'Referred' %}
          <a class="govuk-button govuk-!-margin-right-1" href="/case/overview?id=0">Proceed with case</a>
        {% endif %}

        <button type="submit" class="govuk-button govuk-button--warning">
          Withdraw case
        </button>
        <div class="hide withdraw-textbox">
          {{ govukTextarea({
name: "more-detail",
id: "more-detail",
label: {
text: "Reason for withdrawing case"
}
}) }}
          <button type="submit" class="govuk-button">Submit comment</button>
        </div>
      </div>
      <div class="govuk-grid-column-one-third overview-case">
        <h2 class="govuk-heading-m">Details</h2>
        <p class="govuk-body">Status:
          {% if case.status === 'Referred' %}Referred{% endif %}
        </p>
        <p class="govuk-body">Reference:
          {{ case.reference }}
        </p>
        <p class="govuk-body">Last SJP issue date: 30 June 2018

        </div>
      </div>
    </div>
  </div>

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-tabs" data-module="tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>

          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day">
                History
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-week">
                Defendents
              </a>
            </li>
          </ul>

          <section class="govuk-tabs__panel" id="past-day">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l">Case file</h2>
              </div>
              <div class="govuk-grid-column-one-half">
                <button class="govuk-button govuk-button--secondary comment">Add comment</button>
              </div>
            </div>
            <div class="hide comment-textbox">
              {{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "Leave your comment"
  }
}) }}
              <button type="submit" class="govuk-button">Submit comment</button>
            </div>
            <div class="govuk-accordion" data-module="accordion" id="accordion-default">

              {% for note in case.history %}

                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        {{ note.title }}
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-half">
                        <p class='govuk-body'>{{ note.time }}</p>
                      </div>
                      <div class="govuk-grid-column-one-half">
                        <p class='govuk-body text-align-right'>{{ note.date }}</p>
                      </div>
                    </div>
                    <p class='govuk-body'>Referred by
                      {{ note.user }}</p>
                    <p class='govuk-body'>{{ note.notes }}</p>

                  </div>
                </div>
              {% endfor %}
            </div>

          </section>
          <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
            <h2 class="govuk-heading-l">Defendents for case</h2>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Defendents</th>
                  <th class="govuk-table__header" scope="col">Offenses</th>
                  <th class="govuk-table__header" scope="col">Ultimatum</th>
                  <th class="govuk-table__header" scope="col">URN</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% for defendant in case.defendants %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ defendant.name }}</td>
                    <td class="govuk-table__cell">

                      {% if offense.type == AA %}
                        Annual Accounts
                      {% endif %}

                    </td>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </section>

        </div>
      </div>
    </div>
  </div>

{% endblock %}