{% extends "layout-admin.html" %}

{% block pageTitle %}
  Prosecution Case Company Profile: PJM ACCOUNTANCY LIMITED
{% endblock %}

{% block beforeContent %}{% endblock %}
{% block content %}
  <div class="govuk-width-container govuk-width-container--full">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Prosecution - Case CR71/09076/18
            </span>
            PJM ACCOUNTANCY LIMITED
          </h1>
        </div>
      </div>

      {% include "includes/case-navigation.html" %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <section aria-labelledby="company-overview">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <div class="data-group">
                  <span class="data-group__key" id="key-roa">Registered office address</span>
                  <span class="data-group__value" aria-labelledby="key-roa">25 Gresham Street, London, EC2V 7HN</span>
                </div>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <div class="data-group">
                  <span class="data-group__key" id="key-status">Company number</span>
                  <span class="data-group__value" aria-labelledby="key-status">00345567</span>
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
                <div class="data-group">
                  <span class="data-group__key" id="key-status">Company status</span>
                  <span class="data-group__value" aria-labelledby="key-status">Active</span>
                </div>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <div class="data-group">
                  <span class="data-group__key" id="key-type">Company type</span>
                  <span class="data-group__value" aria-labelledby="key-type">Public limited company</span>
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
                <div class="data-group">
                  <span class="data-group__key" id="key-inc-date">Incorporated on</span>
                  <span class="data-group__value" aria-labelledby="key-inc-date">20 April 1865</span>
                </div>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-l">Accounts</h3>
                <div class="data-group">
                  <span id="key-accounts-end">Next accounts made up to</span>
                  <span class="data-group__value" aria-labelledby="key-accounts-end">31 December 2016</span>
                </div>
                <div class="data-group">
                  <span id="key-accounts-due">Next accounts due by</span>
                  <span class="data-group__value" aria-labelledby="key-accounts-due">30 June 2017</span>
                </div>
                <div class="data-group">
                  <span id="key-last-accounts-end">Last accounts made up to</span>
                  <span class="data-group__value" aria-labelledby="key-last-accounts-end">31 December 2015</span>
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
                <h3 class="govuk-heading-l">Confirmation statement</h3>
                <div class="data-group">
                  <span id="key-first-statement-date">First statement date</span>
                  <span class="data-group__value" aria-labelledby="key-first-statement-date">9 May 2017</span>
                </div>
                <div class="data-group">
                  <span id="key-first-statement-due">First statement due by</span>
                  <span class="data-group__value" aria-labelledby="key-first-statement-due">23 May 2017</span>
                </div>
                <h3 class="govuk-heading-l">Annual return</h3>
                <div class="data-group">
                  <span id="key-last-return-date">Last annual return made up to</span>
                  <span class="data-group__value" aria-labelledby="key-last-return-date">9 May 2016</span>
                </div>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-l subline">Nature of business</h3>
                <p class="heading-subline">Standard Industrial Classification (SIC) Code 64191 &ndash; Banks</p>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-l">Previous company names</h3>
                {{ govukTable({
                  firstCellIsHeader: false,
                  head: [
                    {
                      text: "Name"
                    },
                    {
                      text: "Period"
                    }
                  ],
                  rows: [
                    [
                      {
                        text: "PJM ACCOUNTING SERVICES LIMITED"
                      },
                      {
                        text: "28 June 1999 to 23 September 2013"
                      }
                    ],
                    [
                      {
                        text: "PJM ACCOUNTS LIMITED"
                      },
                      {
                        text: "20 April 1901 to 28 June 1999"
                      }
                    ],
                    [
                      {
                        text: "ACCOUNTS SERVICES LIMITED"
                      },
                      {
                        text: "20 April 1865 to 20 April 1901"
                      }
                    ]
                  ]
                }) }}
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>
  {% endblock %}