{% extends "layout-admin.html" %}

{% block pageTitle %}
  Prosecution Case Defendants: PJM ACCOUNTANCY LIMITED
{% endblock %}

{% block beforeContent %}{% endblock %}
{% block content %}
  <div class="govuk-width-container govuk-width-container--full">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Prosecution - Case CR71/09076/18
            </span>
            PJM ACCOUNTANCY LIMITED
          </h1>
        </div>
      </div>

      {% include "includes/case-navigation.html" %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {{ govukTable({
            firstCellIsHeader: true,
            head: [
              {
                text: "Name"
              },
              {
                text: "Address"
              },
              {
                text: "Type"
              },
              {
                text: "Role"
              },
              {
                text: "Status"
              }
            ],
            rows: [
              [
                {
                  text: "JOHN SMITH"
                },
                {
                  text: "10 Shetland Avenue\nWarrington\nCheshire\nWA4 5EN"
                },
                {
                  text: "Person"
                },
                {
                  text: "Director"
                },
                {
                  text: "Active"
                }
              ],
              [
                {
                  text: "JOHN SMITH"
                },
                {
                  text: "10 Shetland Avenue\nWarrington\nCheshire\nWA4 5EN"
                },
                {
                  text: "Person"
                },
                {
                  text: "Director"
                },
                {
                  text: "Active"
                }
              ],
              [
                {
                  text: "JOHN SMITH"
                },
                {
                  text: "10 Shetland Avenue\nWarrington\nCheshire\nWA4 5EN"
                },
                {
                  text: "Person"
                },
                {
                  text: "Director"
                },
                {
                  text: "Active"
                }
              ],
              [
                {
                  text: "JOHN SMITH"
                },
                {
                  text: "10 Shetland Avenue\nWarrington\nCheshire\nWA4 5EN"
                },
                {
                  text: "Person"
                },
                {
                  text: "Director"
                },
                {
                  text: "Active"
                }
              ],
              [
                {
                  text: "A COMPANY LIMITED"
                },
                {
                  text: "10 Shetland Avenue\nWarrington\nCheshire\nWA4 5EN"
                },
                {
                  text: "Corporate"
                },
                {
                  text: "Director"
                },
                {
                  text: "Active"
                }
              ]
            ]
          }) }}
        </div>
      </main>
    </div>
  {% endblock %}