{% extends "layout-admin.html" %}

{% block pageTitle %}
  Prosecution Case Company Profile: PJM ACCOUNTANCY LIMITED
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/cases/all"
  }) }}
{% endblock %}

{% block content %}
  {% if case.status === 'Ultimatum issued' %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Company number:
              {{ case.company.number }}
            </span>

            {{ case.company.name }}
          </h1>
          {% if case.status === 'Referred' %}
            <a class="govuk-button govuk-!-margin-right-1" href="/case/overview?id=0">Proceed with case</a>
          {% endif %}
          {% if case.status === 'Ultimatum issued' %}{% endif %}

          <button type="submit" class="govuk-button govuk-button--warning">
            Withdraw case
          </button>
          <div class="hide withdraw-textbox">
            {{ govukTextarea({
name: "more-detail",
id: "more-detail",
label: {
text: "Reason for withdrawing case"
}
}) }}
            <button type="submit" class="govuk-button">Submit comment</button>
          </div>
        </div>
        <div class="govuk-grid-column-one-third overview-case">
          <h2 class="govuk-heading-m">Details</h2>
          <p class="govuk-body">Status:
            {% if case.status === 'Referred' %}Referred{% endif %}
            {% if case.status === 'Ultimatum issued' %}Ultimatum issued{% endif %}
          </p>
          <p class="govuk-body">Reference:
            {{ case.reference }}
          </p>
          <p class="govuk-body">Last SJP issue date: 30 June 2018

          </div>
        </div>
      </div>
    </div>

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-tabs" data-module="tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>

            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day">
                  History
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#past-week">
                  Defendents
                </a>
              </li>
            </ul>

            <section class="govuk-tabs__panel" id="past-day">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                  <h2 class="govuk-heading-l">Case file</h2>
                </div>
                <div class="govuk-grid-column-one-half">
                  <button class="govuk-button govuk-button--secondary comment comment-closed">Add comment</button>
                </div>
              </div>
              <div class="hide comment-textbox">
                {{ govukTextarea({
  name: "more-detail",
  id: "more-detail",
  label: {
    text: "Leave your comment"
  }
}) }}
                <button type="submit" class="govuk-button">Submit comment</button>
              </div>
              <div class="govuk-accordion" data-module="accordion" id="accordion-default">

                {% for note in case.history %}

                  <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                          {{ note.title }}
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                          <p class='govuk-body'>{{ note.time }}</p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                          <p class='govuk-body text-align-right'>{{ note.date }}</p>
                        </div>
                      </div>
                      <p class='govuk-body'>Referred by
                        {{ note.user }}</p>
                      <p class='govuk-body'>{{ note.notes }}</p>

                    </div>
                  </div>
                {% endfor %}
              </div>

            </section>
            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
              <h2 class="govuk-heading-l">Defendents for case</h2>
              <!-- <table class="govuk-table"> <thead class="govuk-table__head"> <tr class="govuk-table__row"> <th class="govuk-table__header" scope="col">Defendents</th> <th class="govuk-table__header" scope="col">Offenses</th> <th class="govuk-table__header"
              scope="col">Ultimatum</th> <th class="govuk-table__header" scope="col">URN</th> </tr> </thead> <tbody class="govuk-table__body"> {% for defendant in case.defendants %} <tr class="govuk-table__row"> <td class="govuk-table__cell">{{ defendant.name
              }}</td> <td class="govuk-table__cell"> {% if offense.type == AA %} Annual Accounts {% endif %} </td> <td class="govuk-table__cell"></td> <td class="govuk-table__cell"></td> </tr> {% endfor %} </tbody> </table>-->
              <div class="govuk-accordion" data-module="accordion" id="accordion-default">
                {% for defendant in case.defendants %}
                  <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
                          {{ defendant.name
                      }}
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                          <p class='govuk-body'>Current status: Proceeded</p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                          <p class='govuk-body text-align-right'>URN: 000000</p>
                        </div>
                      </div>
                      <h3 class="govuk-heading-s">Offences</h3>
                      <ul>
                        <li>Offense 1</li>
                        <li>Offense 2</li>
                      </ul>
                      <h3 class="govuk-heading-s">Documents for the defendent</h3>
                      <p class='govuk-body'>Document 1</p>

                    </div>
                  </div>
                {% endfor %}
              </div>
            </section>

          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if case.status === 'Referred' %}

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">Company number:
            {{ case.company.number }}</span>
          <h1 class="govuk-heading-l">
            {{ case.company.name }}
          </h1>
        </div>
        <div class="govuk-grid-column-one-third">

          {{ govukButton({
  text: "Reject the whole case",
  classes: "govuk-button--warning reject"
}) }}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <section class="decision-case" aria-labelledby="heading-case-details">
            {% for defendant in case.defendants %}
              <span class="govuk-caption-m">Defendant 1 of 2</span>
              <h2 id="heading-case-details" class="govuk-heading-m">{{ defendant.name }}</h2>
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Date of birth</th>
                    <td class="govuk-table__cell">{{ defendant.dateOfBirth }}</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Role</th>
                    <td class="govuk-table__cell">
                      {% if defendant.status === 'active' %}
                        <strong class="govuk-tag govuk-tag--light-green">{{ defendant.status }}</strong>
                      {% else %}
                        <strong class="govuk-tag govuk-tag--grey">{{ defendant.status }}</strong>
                      {% endif %}{{ defendant.role }}</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Appointed on</th>
                    <td class="govuk-table__cell">{{ defendant.appointed }}</td>
                  </tr>
                  {% if defendant.status === 'resigned' %}
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Resigned on</th>
                      <td class="govuk-table__cell">{{ defendant.resigned }}</td>
                    </tr>
                  {% endif %}

                  <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-table__header--top" scope="row">Defendant service address</th>
                    <td class="govuk-table__cell">
                      {{ defendant.address.line1 }}<br/>
                      {{ defendant.address.line2 }}<br/>
                      {{ defendant.address.town }}<br/>
                      {{ defendant.address.county }}<br/>
                      {{ defendant.address.country }}
                      <!--{% if defendant.addressType === 'service' %} <a href="" class="govuk-link defendant-address-button">Use residential address</a> <form action="" method="POST" id="defendant-address-form"> <input type="hidden" name="useAddress"
                      value="residential"/> <input type="hidden" name="caseID" value="{{ case.id }}"/> <input type="hidden" name="defendantID" value="{{ defendant.id }}"/> </form> {% else %} <a href="" class="govuk-link defendant-address-button">Use service address</a>
                      <form action="" method="POST" id="defendant-address-form"> <input type="hidden" name="useAddress" value="service"/> <input type="hidden" name="caseID" value="{{ case.id }}"/> <input type="hidden" name="defendantID" value="{{ defendant.id }}"/>
                      </form> {% endif %}-->
                    </td>
                  </tr>
                </tbody>
              </table>

              {{ govukCheckboxes({
            idPrefix: "plea",
            name: "plea",
            fieldset: {
              legend: {
                text: "Select offenses",
                isPageHeading: false,
                classes: "govuk-body govuk-!-font-size-22 govuk-!-font-weight-bold"
              }
            },
            items: [
              {
                value: "Accounts",
                text: "Accounts - 28 February 2018"
              },
              {
                value: "Confirmation Statement",
                text: "Confirmation Statement - 15 February 2019"
              }
             ]
           }) }}
              {{ govukWarningText({
           text: "You have not selected any offenses.",
           classes: "offenses-warning",
           iconFallbackText: "Warning"
          }) }}
            {% endfor %}
            {% set buttonHref = "/workflows/accept-case/review-case-two?id=" +  case.id %}
            {{ govukButton({
           text: "Continue",
           href: buttonHref
         }) }}
          </section>
        </div>
      </div>
    {% endif %}
    {% if case.status === 'Ready for witness statement' %}
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <span class="govuk-caption-xl">Reference: 00000000</span>
            <h1 class="govuk-heading-xl">Company name</h1>

            <h2 class="govuk-heading-m">Company Details</h2>

            {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9',
            rows: [
              {
                key: {
                  text: "Company"
                },
                value: {
                  text: "Bulldog Trading Limited"
                }
              },
              {
                key: {
                  text: "Incorporation Date"
                },
                value: {
                  text: "30 June 2017"
                }
              }
            ]
          }) }}

            <h2 class="govuk-heading-m">Defendent 1</h2>

            {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9',
            rows: [
              {
                key: {
                  text: "Name"
                },
                value: {
                  text: "Joe Blogs"
                }
              },
              {
                key: {
                  text: "Role"
                },
                value: {
                  text: "Director"
                }
              },
              {
                key: {
                  text: "Offenses"
                },
                value: {
                  html: "Offense 1 - 20 June 2019<br>Offense 2 - 20 June 2019<br>Offense 3 - 20 June 2019"
                }
              }
            ]
          }) }}

            <h2 class="govuk-heading-m">Defendent 2</h2>

            {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9',
            rows: [
              {
                key: {
                  text: "Name"
                },
                value: {
                  text: "Joe Blogs"
                }
              },
              {
                key: {
                  text: "Role"
                },
                value: {
                  text: "Director"
                }
              },
              {
                key: {
                  text: "Offenses"
                },
                value: {
                  html: "Offense 1 - 20 June 2019<br>Offense 2 - 20 June 2019<br>Offense 3 - 20 June 2019"
                }
              }
            ]
          }) }}

            <h2 class="govuk-heading-m">Confirmation</h2>

            <p class="govuk-body">If you're happy with the above details then accept and e-sign below.</p>

            <form action="/form-handler" method="post" novalidate="novalidate">

              <input type="hidden" name="answers-checked" value="true">

              {{ govukButton({
              text: "Accept and e-sign"
            }) }}

            </form>

          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}