{% extends "layout-admin.html" %}

{% block pageTitle %}
  Step by step navigation
{% endblock %}

{% block pageScripts %}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: backLink
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <span class="govuk-caption-xl">Accept case workflow: Step 4 of 4</span>
      <h1 class="govuk-heading-xl">
        {{ case.company.name }}
      </h1>
    </div>
    <div class="govuk-grid-row">
      <form action="" method="POST">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Offences
            </dt>
            <dd class="govuk-summary-list__value">
              {{ case.defendants[0].name }}
              -
              {{ case.defendants[0].offences[0].type | displayOffenceType }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden">
                  name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ultimatum
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="/public/documents/ultimatum.pdf" class="govuk-link">View ultimatum</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden">
                  name</span>
              </a>
            </dd>
          </div>
        </dl>
        {{ govukButton({
          text: "Accept case"
        }) }}
        <input type="hidden" name="id" value="{{ case.id }}"/>
      </form>
    </div>
  </div>

{% endblock %}