{% extends "layout-admin.html" %}

{% block pageTitle %}
  Step by step navigation
{% endblock %}

{% block pageScripts %}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: backLink
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <span class="govuk-caption-xl">Accept case workflow: Step 2 of 3</span>
    <h1 class="govuk-heading-xl">
      {{ case.company.name }}
    </h1>

    <p class="govuk-body-l">Select which offences will be included in this case.</p>
    <form action="/workflows/accept-case/create-ultimatum?id=" method="POST">

      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "You have not selected the offenses",
              href: "#passport-issued-error"
            }
          ]
        }) }}
      {% endif %}

      {% for defendant in compiledDefendants %}

        {% if pleaErr.flag %}
          {% set pleaError = {
            text: pleaErr.text
          } %}
        {% else %}
          {% set pleaError = false %}
        {% endif %}

        {{ govukCheckboxes({
            idPrefix: "plea",
            name: "waste",
            errorMessage: {
              text: pleaError
            },
            fieldset: {
              legend: {
                text: defendant.name,
                isPageHeading: false,
                classes: "govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold"
              }
            },
            items: defendant.offences
          }) }}
      {% endfor %}

      <div class="govuk-form-group">
        {{ govukButton({
              text: "Add outcome"
            }) }}
      </div>

      {% set buttonHref = "/workflows/accept-case/create-ultimatum?id=" +  case.id %}
      {{ govukButton({
          text: "Continue",
          href: buttonHref
        }) }}
    </form>
  </div>

{% endblock %}