{% extends "layout-admin.html" %}

{% block pageTitle %}
  Manage prosecutions
{% endblock %}

{% block beforeContent %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
        <span class="govuk-caption-xl">Prosecution
        </span>
        Cases
      </h1>
    </div>
  </div>

  {% include "includes/cases-navigation.html" %}

  {% if totalOutcomeCases > 0 %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters column-results column-results--active">
        <p class="info result-count" id="result-count" aria-live="assertive">&nbsp;</p>
        <a href="#filters" class="govuk-link filter-toggle govuk-button">Filter cases</a>
        <table class="govuk-table" id="all-cases-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Company</th>
              <th class="govuk-table__header" scope="col">CRN</th>
              <th class="govuk-table__header" scope="col">Status</th>
              <th class="govuk-table__header" scope="col">Priority</th>
              <th class="govuk-table__header" scope="col">Reference</th>
              <th class="govuk-table__header" scope="col">Created on</th>
              <th class="govuk-table__header govuk-table__header--bookmark" scope="col">Bookmark</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for case in cases %}
              {% if case.status === 'Awaiting outcomes' or case.status === 'Outcomes added' %}
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">
                    <a href="/case/outcomes?id={{ case.id }}">{{ case.company.name }}</a>
                  </th>
                  <td class="govuk-table__cell">{{ case.company.number}}</td>
                  <td class="govuk-table__cell">{{ case.status }}</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--light-green">{{ case.priority }}</strong>
                  </td>
                  <td class="govuk-table__cell">{{ case.reference }}</td>
                  <td class="govuk-table__cell">{{ case.referred}}</td>
                  <td class="govuk-table__cell govuk-table__cell--bookmark">
                    {% if case.bookmarked %}
                      <a href="" class="govuk-link bookmark-button" title="Remove this case from bookmarks" data-value="{{ case.id }}">
                        <i class="fas fa-star fa-star--active"></i>
                      </a>
                    {% else %}
                      <a href="" class="govuk-link bookmark-button" title="Bookmark this case" data-value="{{ case.id }}">
                        <i class="fas fa-star"></i>
                      </a>
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <div class="table-per-page">
              <form action="" method="">
                {{ govukSelect({
                      id: "results-per-page",
                      classes: "table-per-page__input",
                      name: "resultsPerPage",
                      label: {
                        html: "Cases per page",
                        classes: "table-per-page__label"
                      },
                      items: [
                        {
                          value: "10",
                          text: "10"
                        },
                        {
                          value: "20",
                          text: "20",
                          selected: true
                        },
                        {
                          value: "50",
                          text: "50"
                        },
                        {
                          value: "100",
                          text: "100"
                        },
                        {
                          value: "all",
                          text: "All"
                        }
                      ]
                    }) }}
              </form>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <ul class="pagination govuk-body" role="navigation">
              <li class="pagination__item pagination__item--disabled">
                <a href="#previous" class="pagination__link pagination__link--disabled">Previous</a>
              </li>
              <li class="pagination__item pagination__item--active">
                <a href="#" class="pagination__link pagination__link--active">1</a>
              </li>
              <li class="pagination__item">
                <a href="#" class="pagination__link">2</a>
              </li>
              <li class="pagination__item">
                <a href="#" class="pagination__link">3</a>
              </li>
              <li class="pagination__item">
                <a href="#" class="pagination__link">4</a>
              </li>
              <li class="pagination__item">
                <a href="#" class="pagination__link">5</a>
              </li>
              <li class="pagination__item">
                <a href="#" class="pagination__link">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      {% include "includes/filters.html" %}

    </div>
  {% else %}
    <p>There are no outcome cases to show</p>
  {% endif %}
</main>
</div>
{% endblock %}