{% extends "layout-admin.html" %}

{% block pageTitle %}
  Step by step navigation
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: backLink
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <span class="govuk-caption-xl">Accept case workflow: Step 2 of 2</span>
      <h1 class="govuk-heading-xl">
        {{ case.company.name }}
      </h1>
    </div>

    <div class="govuk-grid-row">
      <h2 class="govuk-heading-m">Ultimation generation</h2>
    </div>

    <div class="govuk-grid-row person">

      {% set spinner %}
      Generating&nbsp;
      <div class="spinner-border">
        <div class="govuk-visually-hidden">Loading</div>
      </div>
      {% endset %}
      {% set link %}
      <button type="button" onclick="printJS('/public/documents/ultimatumnew.pdf')" class="govuk-link ultimatum-view-link">Print ultimatum</button>
      {% endset %}
      {{ govukTable({
        head: [
          {
            text: "Defendant"
          },
          {
            text: "Ultimatum status"
          },
          {
            text: "Print"
          }
        ],
        rows: [
          [
            {
              text: case.defendants[0].name
            },
            {
              html: spinner,
              classes: "ultimatum-generator"
            },
            {
              html: link,
              classes: ""
            }
          ]
        ]
      }) }}

      {{ govukButton({
        text: "Finish",
        href: "/cases/all"
      }) }}
    </div>

  {% endblock %}

  {% block pageScripts %}
    <script type="text/javascript">
      window.setTimeout(function () {
        generateUltimatumLabel()
      }, 5000)
    </script>
  {% endblock %}