{% extends "layout-admin.html" %}

{% block pageTitle %}
  Accept case workflow for
  {{ case.company.name }}. Step 1: Review case
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/case/overview?id=0"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <span class="govuk-caption-l">Company number: 00000000</span>
      <h1 class="govuk-heading-l">
        {{ case.company.name }}
      </h1>
    </div>
    <div class="govuk-grid-row">
      <section class="decision-case" aria-labelledby="heading-case-details">
        {% for defendant in case.defendants %}
          <span class="govuk-caption-m">Defendant 1 of 2</span>
          <h2 id="heading-case-details" class="govuk-heading-m">{{ defendant.name }}</h2>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Date of birth</th>
                <td class="govuk-table__cell">{{ defendant.dateOfBirth }}</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Role</th>
                <td class="govuk-table__cell">
                  {% if defendant.status === 'active' %}
                    <strong class="govuk-tag govuk-tag--light-green">{{ defendant.status }}</strong>
                  {% else %}
                    <strong class="govuk-tag govuk-tag--grey">{{ defendant.status }}</strong>
                  {% endif %}{{ defendant.role }}</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Appointed on</th>
                <td class="govuk-table__cell">{{ defendant.appointed }}</td>
              </tr>
              {% if defendant.status === 'resigned' %}
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Resigned on</th>
                  <td class="govuk-table__cell">{{ defendant.resigned }}</td>
                </tr>
              {% endif %}

              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-table__header--top" scope="row">Defendant service address</th>
                <td class="govuk-table__cell">
                  {{ defendant.address.line1 }}<br/>
                  {{ defendant.address.line2 }}<br/>
                  {{ defendant.address.town }}<br/>
                  {{ defendant.address.county }}<br/>
                  {{ defendant.address.country }}
                  <!--{% if defendant.addressType === 'service' %} <a href="" class="govuk-link defendant-address-button">Use residential address</a> <form action="" method="POST" id="defendant-address-form"> <input type="hidden" name="useAddress"
                  value="residential"/> <input type="hidden" name="caseID" value="{{ case.id }}"/> <input type="hidden" name="defendantID" value="{{ defendant.id }}"/> </form> {% else %} <a href="" class="govuk-link defendant-address-button">Use service address</a>
                  <form action="" method="POST" id="defendant-address-form"> <input type="hidden" name="useAddress" value="service"/> <input type="hidden" name="caseID" value="{{ case.id }}"/> <input type="hidden" name="defendantID" value="{{ defendant.id }}"/>
                  </form> {% endif %}-->
                </td>
              </tr>
            </tbody>
          </table>

          {{ govukCheckboxes({
            idPrefix: "plea",
            name: "plea",
            fieldset: {
              legend: {
                text: "Select offences",
                isPageHeading: false,
                classes: "govuk-body govuk-!-font-size-22 govuk-!-font-weight-bold"
              }
            },
            items: [
              {
                value: "Accounts",
                text: "Accounts - 28 February 2018"
              },
              {
                value: "Confirmation Statement",
                text: "Confirmation Statement - 15 February 2019"
              }
             ]
           }) }}
          {{ govukWarningText({
           text: "You have not selected any offenses.",
           iconFallbackText: "Warning"
          }) }}
        {% endfor %}
        {% set buttonHref = "/workflows/accept-case/review-case-two?id=" +  case.id %}
        {{ govukButton({
           text: "Continue",
           href: buttonHref
         }) }}
        <form action="" method="POST">
          <!-- items: defendant.offences-->
          <!--{% for defendant in compiledDefendants %}-->
          {{ govukCheckboxes({
              idPrefix: "plea",
              name: "plea",
              fieldset: {
                legend: {
                  text: "Offences",
                  isPageHeading: false,
                  classes: "govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold"
                }
              },
              items: [
                {
                  value: "Accounts",
                  text: "Accounts - 28/02/2018"
                },
                {
                  value: "Confirmation Statement",
                  text: "Confirmation Statement - 15/02/2019"
                }
               ]
           }) }}
          <!--{% endfor %}-->
        </form>
      </section>
    </div>
  {% endblock %}