{% extends "layout-admin.html" %}

{% block pageTitle %}
  Accept case workflow for
  {{ case.company.name }}. Step 1: Review case
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/workflows/accept-case/review-case?id=0"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">Company number:
            {{ case.company.number }}</span>
          <h1 class="govuk-heading-l">
            BULLDOG TRADING LIMITED
          </h1>
        </div>
        <div class="govuk-grid-column-one-third">
          {% set buttonHref = "/case/reject-reason?id=" +  case.id %}
          {{ govukButton({
  text: "Reject case",
  classes: "govuk-button--warning reject",
  href: buttonHref
}) }}
        </div>

      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <section class="decision-case" aria-labelledby="heading-case-details">
            <span class="govuk-caption-m">Defendant 2 of 2</span>
            <h2 id="heading-case-details" class="govuk-heading-m">Mark Page Bailey</h2>
            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Date of birth</th>
                  <td class="govuk-table__cell">05 June 1964</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Role</th>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--light-green">Active</strong>
                    Director</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Appointed on</th>
                  <td class="govuk-table__cell">15 February 2006</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__header govuk-table__header--top" scope="row">Defendant service address</th>
                  <td class="govuk-table__cell">
                    Little Trendle Farm<br/>
                    Bere Alston<br/>
                    Yelverton<br/>
                    England<br/>
                    United Kingdom<br/>
                  </td>
                </tr>
              </tbody>
            </table>

            {{ govukCheckboxes({
            idPrefix: "plea",
            name: "plea",
            fieldset: {
              legend: {
                text: "Select offences",
                isPageHeading: false,
                classes: "govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold"
              }
            },
            items: [
              {
                value: "Accounts",
                text: "Accounts - 28 February 2018"
              },
              {
                value: "Confirmation Statement",
                text: "Confirmation Statement - 15 February 2019"
              }
             ]
         }) }}
            {% from "warning-text/macro.njk" import govukWarningText %}

            {{ govukWarningText({
text: "You have not selected any offenses.",
  classes: "offenses-warning",
iconFallbackText: "Warning"
}) }}
            {% set buttonHref = "/workflows/accept-case/summary?id=0"%}
            {{ govukButton({
           text: "Continue",
           href: buttonHref
         }) }}
            <form action="" method="POST">
              <!-- items: defendant.offences-->
              <!--{% for defendant in compiledDefendants %}-->
              {{ govukCheckboxes({
              idPrefix: "plea",
              name: "plea",
              fieldset: {
                legend: {
                  text: "Select offenses",
                  isPageHeading: false,
                  classes: "govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold"
                }
              },
              items: [
                {
                  value: "Accounts",
                  text: "Accounts - 28/02/2018"
                },
                {
                  value: "Confirmation Statement",
                  text: "Confirmation Statement - 15/02/2019"
                }
               ]
           }) }}
              <!--{% endfor %}-->

            </form>
          </section>
        </div>
      </div>
    {% endblock %}