{% extends "layout-admin.html" %}

{% block pageTitle %}
  Accept case workflow for
  {{ case.company.name }}. Step 1: Review case
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/cases/all"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <span class="govuk-caption-xl">Accept case workflow: Step 1 of 2</span>
      <h1 class="govuk-heading-xl">
        {{ case.company.name }}
      </h1>
    </div>

    <div class="govuk-grid-row">
      <section class="decision-case" aria-labelledby="heading-case-details">
        <h3 id="heading-case-details" class="govuk-heading-m">Case Details</h3>
        {% for defendant in case.defendants %}
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-!-font-size-24 govuk-!-margin-bottom-2">{{ defendant.name }}</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Date of birth</th>
                <td class="govuk-table__cell">{{ defendant.dateOfBirth }}</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Role</th>
                <td class="govuk-table__cell">{{ defendant.role }}</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Appointed on</th>
                <td class="govuk-table__cell">{{ defendant.appointed }}</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Status</th>
                <td class="govuk-table__cell">

                  {% if defendant.status === 'active' %}
                    <strong class="govuk-tag govuk-tag--light-green">{{ defendant.status }}</strong>
                  {% else %}
                    <strong class="govuk-tag govuk-tag--grey">{{ defendant.status }}</strong>
                  {% endif %}

                </td>
              </tr>

              {% if defendant.status === 'resigned' %}
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="row">Resigned on</th>
                  <td class="govuk-table__cell">{{ defendant.resigned }}</td>
                </tr>
              {% endif %}

              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-table__header--top" scope="row">Defendant address</th>
                <td class="govuk-table__cell">
                  {% if defendant.addressType === 'service' %}
                    <span class="govuk-!-font-weight-bold">Service address</span><br/>
                  {% else %}
                    <span class="govuk-!-font-weight-bold">Residential address</span><br/>
                  {% endif %}
                  {{ defendant.address.line1 }}<br/>
                  {{ defendant.address.line2 }}<br/>
                  {{ defendant.address.town }}<br/>
                  {{ defendant.address.county }}<br/>
                  {{ defendant.address.country }}<br/><br/>
                  <!--{% if defendant.addressType === 'service' %} <a href="" class="govuk-link defendant-address-button">Use residential address</a> <form action="" method="POST" id="defendant-address-form"> <input type="hidden" name="useAddress"
                  value="residential"/> <input type="hidden" name="caseID" value="{{ case.id }}"/> <input type="hidden" name="defendantID" value="{{ defendant.id }}"/> </form> {% else %} <a href="" class="govuk-link defendant-address-button">Use service address</a>
                  <form action="" method="POST" id="defendant-address-form"> <input type="hidden" name="useAddress" value="service"/> <input type="hidden" name="caseID" value="{{ case.id }}"/> <input type="hidden" name="defendantID" value="{{ defendant.id }}"/>
                  </form> {% endif %}-->
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Country of residence</th>
                <td class="govuk-table__cell">{{ defendant.address.country }}</td>
              </tr>
            </tbody>
          </table>
        {% endfor %}
        <form action="" method="POST">
          {% for defendant in compiledDefendants %}
            {{ govukCheckboxes({
              idPrefix: "plea",
              name: "plea",
              fieldset: {
                legend: {
                  text: "Offenses",
                  isPageHeading: false,
                  classes: "govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold"
                }
              },
              items: defendant.offences
           }) }}
          {% endfor %}
          {% set buttonHref = "/workflows/accept-case/create-ultimatum?id=" +  case.id %}
          {{ govukButton({
            text: "Continue",
            href: buttonHref
          }) }}
        </form>
      </section>
    </div>
  {% endblock %}