{% extends "layout-admin.html" %}

{% block pageTitle %}
  Prosecution Case Overview:
  {{ case.company.name }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}
{% block content %}
  {% include "includes/case-header.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% for defendant in case.defendants %}
        <h3 class="govuk-heading-m">{{ defendant.name }}</h3>

        <form action="" method="post" id="case-details-form">
          <input type="hidden" name="caseID" value="{{ case.id }}"/>
          <input type="hidden" name="caseAction" value="accept"/>
          <table class="govuk-table govuk-table--">
            <caption class="govuk-table__caption govuk-!-font-size-19 govuk-!-margin-bottom-2">Offences</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Type</th>
                <th class="govuk-table__header">Period</th>
                <th class="govuk-table__header">Due date</th>
                <th class="govuk-table__header">Hearing date</th>
                <th class="govuk-table__header">Plea</th>
                <th class="govuk-table__header">Outcome</th>
                <th class="govuk-table__header">Fine</th>
                <th class="govuk-table__header">Costs</th>
                <th class="govuk-table__header">Duration</th>
                <th class="govuk-table__header">Add outcome</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for offence in defendant.offences %}
                <tr class="govuk-table__row">
                  {% if offence.type === 'AA' %}
                    <td class="govuk-table__cell">
                      Annual accounts
                    </td>
                    <td class="govuk-table__cell">
                      {{ offence.periodStart }}
                      -
                      {{ offence.periodEnd }}
                    </td>
                    <td class="govuk-table__cell">
                      {{ offence.dueDate }}
                    </td>
                  {% else %}
                    <td class="govuk-table__cell">
                      Confirmation statement
                    </td>
                    <td class="govuk-table__cell">
                      {{ offence.periodEnd }}
                    </td>
                    <td class="govuk-table__cell">
                      {{ offence.dueDate }}
                    </td>
                  {% endif %}
                  <td class="govuk-table__cell">
                    {{ offence.hearingDate.day }}
                    {{ offence.hearingDate.month | displayMonth }}
                    {{ offence.hearingDate.year }}
                  </td>
                  <td class="govuk-table__cell">
                    {{ offence.plea }}
                  </td>
                  <td class="govuk-table__cell">
                    {{ offence.outcome.type }}
                  </td>
                  <td class="govuk-table__cell">
                    {{ offence.outcome.fine }}
                  </td>
                  <td class="govuk-table__cell">
                    {{ offence.outcome.costs }}
                  </td>
                  <td class="govuk-table__cell">
                    {{ offence.outcome.duration }}
                  </td>
                  <td class="govuk-table__cell">
                    <a href="/case/outcomes/add-outcome?caseID={{ case.id }}&defendantID={{ defendant.id }}&offenceID={{ offence.id }}">Add outcome</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      {% endfor %}
    </div>
  </div>
{% endblock %}